Assignment 2/DL_HW2/Data/
# Add unnecessary files to the gitignore
*.pt
*.pdf
*.zip
*.pyc
*.pyo
*.pyd
*.so
*.dylib
.idea/
*.ipynb_checkpoints
__pycache__/
*.swo
*.swp
*.swn
*.swm
*.DS_Store
*.sdf
*.suo
*.pdb
*.idb
*.tex
*.gz
*-ubyte
*.ini
*.docs
*.docx
*.xml
*.iml

