/.idea/.gitignore
/.idea/DeepLearning1401-01.iml
/main.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
HW1.docx
.gitignore
Assignment 1/desktop.ini
Assignment 1/HW1-Saeedreza_Zouashkiani-400206262.pdf
Assignment 1/HW1-Saeedreza_Zouashkiani-400206262.pdf
Assignment 2/DL_HW2.zip
Assignment 2/DL_HW2/Data/
Assignment 2/data/FashionMNIST/raw/t10k-images-idx3-ubyte
Assignment 2/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
Assignment 2/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
Assignment 2/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
Assignment 2/data/FashionMNIST/raw/train-images-idx3-ubyte
Assignment 2/data/FashionMNIST/raw/train-labels-idx1-ubyte
Assignment 2/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
Assignment 2/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Assignment 2/DL_HW2/question.pdf
Assignment 2/answers.tex
